.bnr_img{
    position: relative;
  top: 0;
padding-top: 85px;

}
.bnr_info{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background: rgba(166, 110, 56, 0.75);
  border-radius: 20px;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 2em;
}
.btn_bnr{display: block;
  max-width: 20rem;
  border: none;
  outline: none;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
  background-color: #654520;
  color: #fff;
  transition: all 300s ease;
}
.btn_bnr:hover, .btn_bnr:active{background-color: red;}
.bnr_info h1{font-size: 2.5rem; margin-bottom: .5em;}
.bnr_info p{line-height: 1.5em; margin-bottom: 1.5em;}

@media only screen and (max-width: 1500px){
  .bnr_img{ padding-top: 83px; }
  .bnr_info{  top: 55%;}
}

@media only screen and (max-width: 1500px) {
  .bnr_img { padding-top: 77px; }
}

@media only screen and (max-width: 1200px) {
  .bnr_img { padding-top: 72px; }
  .bnr_info{  top: 60%;}
}
@media only screen and (max-width: 1000px) {
  .bnr_img { padding-top: 65px; }
  .bnr_info{  top: 62%;}
}
@media only screen and (max-width: 900px) {
  .bnr_img { padding-top: 65px; }
  .bnr_info{  width: 100%; height: 100%; top: 30px; left: 0; transform: none; border-radius: 0;}
}
@media only screen and (max-width: 800px) {
  .bnr_img  img{height: 20rem;}
}

@media only screen and (max-width: 500px) {
  .bnr_info h1{font-size: 2rem;}
}

@media only screen and (max-width: 400px) {
  .bnr_info h1{font-size: 1.5rem;}
}