@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

@media only screen and (max-width: 1500px){
  html { font-size: 15px; }
}
@media only screen and (max-width: 1400px){
  html { font-size: 14px; }
}

@media only screen and (max-width: 1200px){
  html { font-size: 13px; }
}
@media only screen and (max-width: 1000px){
  html { font-size: 12px; }
}

body {
  margin: 0;
  padding: 0;
  background-color: #A66E38;
  color: #fff;
}
img{
  max-width: 100%;
}
.wrapper{
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a{text-decoration: none;}

